.icon-container {
  position: relative;
  /* display: inline-block; */
}

.tooltip {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  margin-left: -120px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.icon-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.icon-container .icon {
  transition: transform 0.2s; /* Smooth transition */
}

.icon-container:hover .icon {
  transform: scale(1.4); /* Increase size on hover */
}
